@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* navigation  */

nav {
  display: inline-block;
  margin: 0;
  width: 100%;
  
}
nav > ul {
  display: inline;  
}
nav > a {
  display: block;
  float: left;
  margin-left: 2em;
  font-size: 2em;
  color: whitesmoke;
  padding: 0.3em;
}
ul > li {
  display: block;
  float: right;
  padding: 0.3em;
  color: whitesmoke;
}

h3 {
  color: aqua;
  margin: 0.2em;
  padding: 0.2em;
  border: solid 0.2em;
}

h2 {
  font-size: 1.4em;
  color: aqua;  
}

@media only screen and (max-width: 666px)  {
  nav > ul > li{
    display: none;
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
